<ion-header>
	<ion-navbar>
		<ion-title>
			Listing
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
	<ion-fab class="add-new-btn" right bottom #fab1>
		<button ion-fab (click)="changePage('add-recepie')" ><ion-icon name="add"></ion-icon></button>	
	</ion-fab>

	<!-- <h1 class="centered app-title">Awesome Recipe App</h1> -->
	<div class="app-title">
		<img src="../../assets/imgs/chef.png" alt="">
		<h2>Cooking LikeABoss</h2>
	</div>
	
	<ion-searchbar [(ngModel)]="term"> </ion-searchbar>

	<p *ngIf="term" class="search-info">
		{{
			(_mainSrv.recepies$ | async | filter:term).length  + 
			((_mainSrv.recepies$ | async | filter:term).length !== 1 ? ' recipes' : ' recipe')
		}} 
		found
	</p>

	<ion-card *ngFor="let recepie of _mainSrv.recepies$ | async | filter:term | sort">
		<recipe-card [recepie]=recepie (onRemove)="removeRecepie($event)" (onPageChange)="changePage($event.page, $event.recepie)"></recipe-card>
	</ion-card>
	
</ion-content>
