<ion-header>
	<ion-navbar>
		<ion-title>
			Listing
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
	<ion-fab class="add-new-btn" right bottom #fab1>
		<button ion-fab (click)="changePage('add-recepie')" ><ion-icon name="add"></ion-icon></button>	
	</ion-fab>

	<ion-searchbar [(ngModel)]="term"> </ion-searchbar>

	<p *ngIf="term">{{(_mainSrv.recepies$ | async | filter:term).length}} recepies found </p>

	<ion-card *ngFor="let recepie of _mainSrv.recepies$ | async | filter:term as result">
		<div class="card-wrapper" [style.backgroundImage]="'url(' + recepie.imageUrl + ')'">

			<div class="background-over" ></div>

			<ion-chip class="category-chip">
				<ion-label>{{categories[recepie.category]}}</ion-label>
			</ion-chip>

			<div class="card-title clickable" (click)="changePage('recepie-view', recepie)">{{recepie.title}}</div>
		
			<ion-fab left bottom #fabDelete>
					<button ion-fab class="fab-del" mini (click)="removeRecepie(recepie)"><ion-icon class="delete-icon clickable" name="ios-trash-outline"></ion-icon></button>	
			</ion-fab>
			
		</div>	
	</ion-card>
</ion-content>
