
.card-background-page {
    ion-card {
      	position: relative;
		text-align: center;	
	}
	
    ion-chip  {
        position: absolute;
        margin: 0 auto;
        right: 10px;
        top: 10px;
	}
	
	ion-label {
		color:#fff;
		font-weight: bold;
	}

	.clickable {
		cursor: pointer;
	}
	
	.card-wrapper {
		height: 200px;
		background-size:cover;
		background-repeat: no-repeat;	
	}

	.background-over {
		height: 200px;
		background: #000;
		opacity: 0.5;
	}

    .card-title {
		position: absolute;
		top: 45%;
		font-size: 18px;
		width: 100%;
		font-weight: bold;
		color: #fff;
	}
	
	.add-new-btn .fab {
		background-color:#f4b953
	}

	.delete-icon {
		color:#fff;
	}

}
  