
.card-background-page {
	.app-title {
		text-align: center;
		padding:10px;
	}

	.app-title h2{
		margin-top: 0px;
		color:#84C160;
	}
	
	.add-new-btn .fab {
		background-color:#eda944;
		ion-icon {
			color:#fff;
		}	
	}
	
	.search-info {
		padding: 0px 10px;
		font-size: 13px;
		color: #3d3d3d;
	}
}
  