
<div class="card-wrapper" [style.backgroundImage]="'url(' + recepie.imageUrl + ')'">

    <div class="background-over" ></div>

    <ion-chip class="category-chip">
        <ion-label>{{categories[recepie.category]}}</ion-label>
    </ion-chip>

    <div class="card-title clickable" (click)="changePage('recepie-view', recepie)">{{recepie.title}}</div>

    <ion-fab *ngIf="!viewMode" left bottom #fabDelete>
        <button ion-fab class="fab-del" mini (click)="removeRecepie(recepie)"><ion-icon class="delete-icon clickable" name="ios-trash-outline"></ion-icon></button>	
    </ion-fab>
    
</div>	
