// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is

// automatically applied to the <body> element in the app.

@font-face {
    font-family:Open-sans;
    src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}

*{
    font-family:Open-sans;
    color:#2b2b2b;
}

.scroll-content {
    button span{
        color: #fff;
    }
}

ion-toast.success .toast-wrapper {
    background: #84c160; 
}

ion-toast.danger .toast-wrapper {
    background: rgba(234, 84, 84, 0.95) 
}

.centered {
    text-align: center;
}

.toolbar-background {
    background: rgba(132, 193, 96, 1);
}

.toolbar-title, .back-button {
    color: #2b2b2b;
}
