.form-error {
    color: red;
    font-size: 11px;
    padding: 0px 16px;
    margin: 5px 0px;
    min-height: 15px;
}

ion-select,  ion-textarea,  ion-input {
    font-size: 13px; 
}

.submit-btn {
    background: #eda944;
    margin-top:40px;
}


