@import "../../theme/variables.scss";

.form-error {
    font-size: 11px;
    padding: 0px 16px;
    margin: 5px 0px;
    min-height: 15px;
}

.form-error span{
    color: color($colors, danger);
}

ion-select,  ion-textarea,  ion-input {
    font-size: 13px; 
}

.submit-btn {
    background: color($colors, primary);
    margin-top:40px;
}


