ion-slides {
    height: 200px;
}

.wrapper-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-zoom {
    height: 100%
}

.recommendations {
    margin-top:40px;
}