<ion-header >
	<ion-navbar >
		<ion-title>
			Details
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="pageLoaded">
		<div class="centered">
			<h1>{{mainState.selectedRecepie.title}}</h1>
			<ion-grid >
				<ion-row>
					<ion-col col-6 class="header-text"><p class="recepie-info"><ion-icon ios="ios-calendar-outline" name="calendar"></ion-icon> {{mainState.selectedRecepie.created | date}}</p></ion-col>
					<ion-col col-1><p class="recepie-info">|</p></ion-col>
					<ion-col col-5 class="header-text "><p class="recepie-info"> {{categories[mainState.selectedRecepie.category]}}</p></ion-col>
				</ion-row>
			</ion-grid>

			<img src="{{mainState.selectedRecepie.imageUrl}}" alt="">
		</div>
		<p>{{mainState.selectedRecepie.description}}</p>
		
		<div class="recommendations">
			<p> <strong>We Recommend: </strong> </p>
			
			<ion-slides >
				<ion-slide loop="true" *ngFor="let recepie of recommended">
				<div class="wrapper-slide">
					<recipe-card [recepie]=recepie [viewMode]=true (onPageChange)="changePage($event.recepie)"></recipe-card>
				</div>
				</ion-slide>
			</ion-slides>
		</div>
	</div>
</ion-content>
